body{
 background: cyan;
 color:Honeydew;
 width:100%;
 font-family:sans-serif;
 margin:0 auto;
 }
.header{
 width:90%;
 height:120px;
 line-height:120px;
 background:PowderBlue;
 color:CeladonBlue;
}


